<div>
    <div class="row">
      <div class="col-sm-3">
        <app-card title="{{muscle_title}}" content="{{muscle_content}}" backgroundImage="{{muscle_image}}" route="muscle-map"></app-card>
      </div>
      <div class="col-sm-3">
        <app-card title="{{cocktail_title}}" content="{{cocktail_content}}" backgroundImage="{{cocktail_image}}" route="cocktail-search"></app-card>
      </div>
      <div class="col-sm-3">
        <app-card title="{{home_care_title}}" content="{{home_care_content}}" backgroundImage="{{home_care_image}}" route="retirment-cost-compare"></app-card>
      </div>
      <div class="col-sm-3">
        <app-card title="{{disc_golf_instuctional_title}}" content="{{disc_golf_instuctional_content}}" backgroundImage="{{disc_golf_instuctional_image}}" route="disc-golf-form"></app-card>
      </div>
    </div>
    <div class="row m-t-4">
      <div class="col-sm-3">
        <app-card title="{{poker_title}}" content="{{poker_content}}" backgroundImage="{{poker_image}}" route="poker-game"></app-card>
      </div>
      <div class="col-sm-3">
        <app-card title="{{home_loan_title}}" content="{{home_loan_content}}" backgroundImage="{{home_loan_image}}" route="home-loan-calcs"></app-card>
      </div>
    </div>
</div>