<h3 class="mt-3">Cocktail List Search</h3>
<p>Search ingredients here to find which cocktails you can make. There are two ways to search. 
The first way will only get cocktails if it has all ingredients you search. The second one will
grab all cocktails that have at least one ingredient searched. </p>
<h6>Specific Search</h6>
<div>
    <form action="">
        <input type="search">
        <button>Search</button>
    </form>
</div>
<h6 class="mt-4"> Search</h6>
<div>
    <form action="">
        <input type="search">
        <button>Search</button>
    </form>
</div>
